@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.login-page{
    height: calc(100vh - 55px);
    width: 100%;
    background-color: hsla(0, 0%, 28%,.2);
    padding-top: 80px;
}
.logo-brand{
    color:#ffd900;
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Concert One', cursive;
    font-size: 65px;
    
}
.sub-logo{
    color:#ffd900;
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 35px;
}
.login-form{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.g-signin2{
    width: 100%;
  }
  
.g-signin2 > div{
    margin: 0 auto;
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -99;
  }